operators/.ipynb_checkpoints/diffusion-checkpoint.py
operators/.ipynb_checkpoints/hebbian-checkpoint.py
/tests/.ipynb_checkpoints
/tests/.ipynb_checkpoints
/tests/.ipynb_checkpoints
tests/.ipynb_checkpoints/test_gamma_protocol-checkpoint.py
